<!DOCTYPE html>
<html>
<head>
  <title>Cloudconnectdemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <style>
        .tab {
            padding:6px;
            border-left:1px solid #CCC;
            border-right:1px solid #CCC;
            border-top:1px solid #DDD;
            border-bottom: 1px solid #666;
            float:left;
        }
    </style>

</head>
<body>
<% if rails_user_signed_in? %>
  Welcome <%= current_rails_user.salesforce_name %> (<%= current_rails_user.salesforce_id %> <%= current_rails_user.sf_error %>)
  <li>
  <%= link_to('Logout', destroy_rails_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_rails_user_session_path)  %>  
  </li>
<% end %>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<h1 style="width:100%;text-align:right;border:1px solid #CCC">cloudconnect Rails Demo</h1>

<div class="tab"><%= link_to 'Accounts', '/accounts' %></div>
<div class="tab"><%= link_to 'Contacts', '/contacts' %></div>
<div style="clear:both"></div>

<%= yield %>

</body>
</html>
